<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @organisation.hourly_rate %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> 
<%= link_to 'Back', organisations_path %>


