<%= form_with(model: shift) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> Your user id is: <%=current_user.id %> </p>

  <div class="field form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id,
    class:"form-control",
      placeholder: "User ID"%>
  </div>

  <div class="field form-group">
    <%= form.label :start_shift %>
    <%= form.datetime_select :start_shift %>
  </div>

  <div class="field form-group">
    <%= form.label :end_shift %>
    <%= form.datetime_select :end_shift %>
  </div>


  <div class="field form-group">
    <%= form.label :break_length %>
    <%= form.number_field :break_length,
    class:"form-control",
    placeholder: "Shift Break"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
