<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shift.user_id %>
</p>

<p>
  <strong>Start shift:</strong>
  <%= @shift.start_shift %>
</p>

<p>
  <strong>End shift:</strong>
  <%= @shift.end_shift %>
</p>

<p>
  <strong>Break length:</strong>
  <%= @shift.break_length %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', organisations_path %>
